<!-- Importar el diseño de la plantilla -->
{% extends 'plantilla.html' %}

<!-- Enlazar archivo CSS -->
{% load static %}

<!-- Cambiar titulo a la pestaña de navegación -->
{% block title %} Mesero {% endblock %}

<!-- Imagen como icono de pestaña -->
{% block head %}
    <link rel="shotcut icon" href="https://cdn-icons-png.flaticon.com/512/4859/4859982.png">
{% endblock %}

<!-- Contenido individual -->
{% block body %}
<link rel="stylesheet" href="{% static 'pedidos/css/listados.css' %}">

<br>
<div class="container bg-white rounded-3 mt-4">
    <!-- Botón para cerrar sesión -->
    <form class="text-start mb-4" >
    
    </form>

    <h2 class="text-center">PEDIDOS</h2>

    <!-- Botón para agregar nuevo pedido -->
    <div class="text-end mb-3">
        <a href="{% url 'pedidos:crear_pedido' %}" class="btn btn-marron"><i class="fa-solid fa-plus" style="color: #ffffff;"></i>  Nuevo Pedido</a>
    </div>

    <!-- Tabla de pedidos -->
    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col"># PEDIDO</th>
                <th scope="col">PLATILLOS</th>
                <th scope="col">ESTATUS</th>
                <th scope="col">FECHA DE REGISTRO</th>
                <th scope="col">TOTAL</th>
                <th scope="col">ACCIONES</th>
            </tr>
        </thead>
        <tbody>
            {% for pedido in pedidos %}
            <tr>
                <th>{{ pedido.idPedido }}</th>
                <td>
                    {% for detalle in pedido.detalles.all %}
                        {{ detalle.nombre_producto }} (x{{ detalle.cantidad }}) <br>
                    {% endfor %}
                </td>
                <td>{{ pedido.get_estatus_display }}</td>
                <td>{{ pedido.fechaRegistro|date:"d/m/Y H:i" }}</td>
                <td>{{ pedido.total }}</td>
                <td>
                    {% if pedido.estatus == 1 %}  <!-- Solo si el estatus es 'CREADO' -->
                        <a href="{% url 'pedidos:editar_pedido' pedido.idPedido %}" class="btn btn-warning"><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></a>
                        <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="{{ pedido.idPedido }}"><i class="fa-solid fa-eraser" style="color: #000000;"></i></button>
                        <button class="btn btn-info" disabled><i class="fa-solid fa-check-double" style="color: #000000;"></i></button>
                    {% elif pedido.estatus == 3 %} <!-- Si el estatus es 'LISTO PARA ENTREGA' -->
                        <button class="btn btn-warning" disabled><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></button>
                        <button class="btn btn-danger" disabled><i class="fa-solid fa-eraser" style="color: #000000;"></i></button>
                        <a href="{% url 'pedidos:marcar_entregado' pedido.idPedido %}" class="btn btn-info"><i class="fa-solid fa-check-double" style="color: #000000;"></i></a>
                    {% else %}
                        <button class="btn btn-warning" disabled><i class="fa-solid fa-pen-to-square" style="color: #000000;"></i></button>
                        <button class="btn btn-danger" disabled><i class="fa-solid fa-eraser" style="color: #000000;"></i></button>
                        <button class="btn btn-info" disabled><i class="fa-solid fa-check-double" style="color: #000000;"></i></button>
                    {% endif %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6" class="text-center">No hay pedidos registrados.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <!-- Paginación -->
    <div class="d-flex justify-content-center mt-3">
        <nav>
            <ul class="pagination">
                {% if pedidos.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Primera página">
                        <span aria-hidden="true">&laquo;&laquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ pedidos.previous_page_number }}" aria-label="Página anterior">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                {% endif %}

                <li class="page-item active">
                    <span class="page-link">{{ pedidos.number }} <span class="sr-only">(actual)</span></span>
                </li>

                {% if pedidos.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ pedidos.next_page_number }}" aria-label="Página siguiente">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ pedidos.paginator.num_pages }}" aria-label="Última página">
                        <span aria-hidden="true">&raquo;&raquo;</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
    </div>
</div>


<!-- ELIMINAR PEDIDO -->
<!-- Modal de confirmación -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteModalLabel">Confirmar Eliminación</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body">¿Estás seguro de que deseas eliminar este pedido?</div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <form method="POST" action="{% url 'pedidos:eliminar_pedido' 0 %}" id="deleteForm">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Eliminar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Script para actualizar la acción del formulario con el ID del pedido -->
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function() {
        var deleteModal = document.getElementById('deleteModal');
        deleteModal.addEventListener('show.bs.modal', function (event) {
            var button = event.relatedTarget;
            var pedidoId = button.getAttribute('data-id');
            var form = document.getElementById('deleteForm');
            var actionUrl = form.getAttribute('action');
            form.setAttribute('action', actionUrl.replace('0', pedidoId));
        });
    });
</script>

{% endblock %}
<!-- Fin Contenido individual -->